<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybór lotów</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>

<body>
    <div class="container">
            
        <!-- navigation -->
        <nav class="navbar navbar-expand-md navbar-light">
            <img class="logo" src="./../assets/img/logo.jpg" alt="LOGO" />

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Samochód</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Hotel</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navigation -->
    </div>
    <main>
        <section class="showcase grid">
            <div class="box grid-horizontal">
                <div class="location">
                    <div class="city" id="city"></div>
                    <div class="date" id="date"></div>
                </div>
                <div class="current">
                    <div class="temp" id="temp"><span></span></div>
                    <div class="icon" id="icon"></div>
                    <div class="weather" id="weather"></div>
                </div>

            </div>

            <form action="/registration" method="GET">
                <div class="booking-form-box">
                    <div class="radio-btn">
                        <input type="radio" class="btn" id="twoWays" name="twoOrOne" value="twoWays" checked><span>Lot w
                            dwie
                            strony</span>
                        <input type="radio" class="btn" id="oneWay" name="twoOrOne" value="oneWay"><span>Lot w jedną
                            stronę</span>
                    </div>

                    <div class="booking-form">
                        <!-- Miasto wylotu -->
                        <label>Lot z</label>
                        <select required name="departurePlace" id="departurePlace"
                            class="form-control custom-select option">
                            <option value="" disable selected>Wybierz miasto wylotu</option>
                            <option value="Warszawa">Warszawa</option>
                        </select>
                        <!-- Miasto przylotu -->
                        <label>Lot do</label>
                        <select required name="arrivalPlace" id="arrivalPlace"
                            class="form-control custom-select option">
                            <option value="" disable selected>Wybierz miasto przylotu</option>
                            <option value="Londyn">Londyn</option>
                            <option value="Nowy Jork">Nowy Jork</option>
                            <option value="Dubaj">Dubaj</option>
                        </select>

                        <!-- data odlotu -->

                        <div class="input-grp"><label>Odlot</label>

                            <input type="date" name="departureDate" id="departureDate" min
                                class="form-control select-date">

                        </div>

                        <!-- data przylotu -->

                        <div class="input-grp"><label>Przylot</label>

                            <input type="date" name="arrivalDate" id="arrivalDate" min class="form-control select-date">

                        </div>

                        <!-- Liczba pasażerów -->

                        <div class=" input-grp"><label>Liczba pasażerów</label>
                            <select name="passengers" id="passengers" class="form-control custom-select option">
                                <option value="1 pasażer">1 pasażer</option>
                                <option value="2 pasażerów">2 pasażerów</option>
                                <option value="3 pasażerów">3 pasażerów</option>
                                <option value="4 pasażerów">4 pasażerów</option>
                                <option value="5 pasażerów">5 pasażerów</option>
                                <option value="6 pasażerów">6 pasażerów</option>
                                <option value="7 pasażerów">7 pasażerów</option>
                                <option value="8 pasażerów">8 pasażerów</option>
                                <option value="9 pasażerów">9 pasażerów</option>
                            </select></div>

                        <!-- Klasa podróży     -->

                        <div class="input-grp"><label>Klasa podróży</label>
                            <select name="" id="" class="custom-select">
                                <option value="1">Klasa ekonomiczna</option>
                                <option value="2">Klasa premium</option>
                                <option value="3">Klasa biznes</option>
                            </select>
                        </div>

                        <!-- submit -->

                        <div class="input-grp"><button type="submit" class="btn btn-primary flight">Wybierz
                                lot</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </main>
    <footer>
        <div class="flex-column">
            <div class="flex-column">
                <p>Strona rezerwacyjna na potrzeby studiów podyplomowych 2021 </p>
                <div>&copy; Paweł Nowak</div>
            </div>
            <div class="flex">
                <p class="flex">Social media:</p>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fab fa-youtube-square fa-2x"></i>
                </a>
                <a href="https://www.amazon.com">
                    <i class="fab fa-amazon fa-2x"></i>
                </a>
                <hr>
                <strong>Telefon: 607831311</strong>
            </div>
        </div>

    </footer>
    <!--- Script Source Files -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="./../js/index.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <!--- End of Script Source Files -->
</body>

</html>