<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dostępne loty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/css/registration.css">
</head>

<body>
    <div class="container">
        <header>
            <section class="brand">
              <a href="#">
                <img class="logo" src="./../assets/img/logo.jpg" alt="LOGO" />
              </a>
            </section>
    
            <nav>
              <ul>
                <li><a id="returnButton" href="#" class="border font-size">Strona domowa</a></li>
              </ul>
            </nav>
          </header>
        <main>

            <article>

                <h2 class="font-size1">Dostępne loty dla</h2>
                <h3 class="font-size">miejsce odlotu: <span id='departurePlace'></span></h3>
                <h3 class="font-size">miejsce przylotu: <span id="arrivalPlace"></span></h3>
                <h3 class="font-size">data odlotu: <span id="departureDate"></span></h3>
                <h3 class="font-size"><span id="arrivalDate1">data powrotu: </span><span id="arrivalDate"></span></h3>

                <h2 id="directFlights" class="font-size1">Loty docelowe:</h2>

                <h3 id="routes"></h3>

                <h2 id="returnFlights" class="font-size1">Loty powrotne:</h2>

                <h3 id="return"></h3>

                <div class="jumbotron jumbotron-fluid jumbotron-style img-classes">
                    <div class="container">
                        <h4 class="display-5 font-size1" id="endPrice">Cena końcowa: 0,00 PLN </h4>
                    </div>
                </div>
            </article>
            <aside>
                <section class="content-section sticky-top">
                    <h2 class="section-header"></h2>
                    <div class="cart-row">
                        <p id="cartDepartureDate" class="cart-item cart-header cart-column color font-size border padding"></p>
                        <p id="cartDeparturePlace" class="cart-item cart-header cart-column color font-size border padding"></p>
                        <p id="cartArrivalPlace" class="cart-item cart-header cart-column color font-size border padding"></p>
                    </div>
                    <div class="cart-row">
                        <p id="cartDepartureReturnDate" class="cart-item cart-header cart-column border color padding font-size"></p>
                        <p id="cartDepartureReturnPlace" class="cart-item cart-header cart-column border color padding font-size"></p>
                        <p id="cartArrivalReturnPlace" class="cart-item cart-header cart-column border color padding font-size"></p>
                    </div>
                    <div>
                        <p id="numberOfPassengers" class="cart-item cart-header cart-column border color padding font-size"></p>
                    </div>
                    <div class="cart-items">
                    </div>
                    <div>
                        <p id="cart-total-price" class="cart-total-price border color padding font-size">Do zapłaty: PLN 0</p>
                    </div>
                    <button id="continueButton" class="btn btn-primary btn-sm btn-purchase border font-size1"
                        type="button">Kontynuuj</button>
                </section>

            </aside>

        </main>

    </div>
    <script src="./../js/registration.js"></script>

</body>

</html>