
/* :after,
:before {
  box-sizing: border-box;
} */


.container {
    max-width: 1700px;
    margin: 20px auto;
    border: 2px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    height: 150vh
}

main {
    display: flex;
    justify-content: space-between;
    height: 130vh;

}

/* Article */

article {
    width: 75%;
    padding: 30px;
    font-weight: bold;
}


/* Aside */
aside {
    width: 25%;
    padding: 20px;
    /* background-color: lightgrey; */
    border-left: 3px solid darkgrey;
}

/* color seat */

.highlight {
    fill: red;
}
.highlight1 {
    fill: red;
}

/* cart */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
} 

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


